*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    color: white;
    background: blue;
    display: flex;
    padding: 8px;
    justify-content: space-around;
}
header nav ul{
    display: flex;
    list-style: none;
    white-space: 4px;
}
header nav ul li{
    padding: 5px;
}